.page {
  background-color: #000;
  color: #fff;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  align-items: center;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__button_dim {
  opacity: 1;
  transition: opacity 1s ease-in 3s linear;
  border: none;
}

.profile__button_dim:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__edit-button {
  background: transparent url("../vendor/editBtn.svg") center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
}

.profile__add-button {
  background: transparent url("../vendor/addBtn.svg") center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 1px solid #ffffff;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-size: 19px;
  height: 18px;
  width: 500px;
  grid-area: description;
  margin: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.gallery {
  display: flex;
  justify-content: center;
  margin: 55px 20px 0;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  /* grid-template-rows: repeat(auto-fit, 361px); */
  gap: 17px;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #ffffff;
  color: #000;
  max-width: 282px;
  width: 100%;
  max-height: 361px;
  height: 100%;
  border-radius: 10px;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__header {
  display: flex;
  height: calc(361px - 282);
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  /* display: block; */
  height: 29px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card__heart-icon {
  background-image: url("../vendor/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-left: auto;
  width: 21px;
  height: 18px;
}

@media screen and (max-width: 480px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 62px;
    margin-right: 62px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

.footer {
  padding: 60px 0;
}

.footer__copyright {
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
}